<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content>
    Folosim instrumente de la alte companii pe Facebook pentru serviciile de publicitate şi de măsurare în afara Produselor Meta, pentru statistici, precum şi pentru a furniza anumite funcţii şi pentru a îmbunătăţi serviciile pe care ţi le oferim. Aceste companii folosesc şi ele module cookie.
Poţi permite utilizarea tuturor modulelor cookie, doar cele esenţiale sau poţi alege mai multe opţiuni mai jos. Poţi să afli mai multe despre modulele cookie şi despre modul în care le utilizăm şi să revizuieşti sau să-ţi schimbi opţiunea în orice moment în Politica de utilizare a modulelor cookie.
Module cookie esenţiale
Aceste module cookie sunt obligatorii pentru utilizarea Produselor Meta. Ele sunt necesare pentru ca aceste site-uri să funcţioneze aşa cum au fost concepute.

</mat-dialog-content>