<div class="container">
    <h1 class="title">
      {{ 'Location Details' | marks }}
    </h1>
  
    <mat-card class="card">
        <p class="details">
            {{ 'Country' | marks}} {{ location.country }}
        </p>
        <p class="details">
            {{ 'City' | marks}} {{ location.city }}
        </p>
        <p class="details">
            {{ 'Street' | marks }} {{ location.street }}
        </p>
        <p class="details">
            {{ 'Id' | marks }} {{ location.id }}
        </p>
    </mat-card>
</div>
  