#container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
mat-icon{
    transform: scale(1.6);
    margin-left: 20px;
    color: red;
}
#text{
    margin-left: 20px;
    font-size: 15px;
    color: red;
}