<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg" style="background: linear-gradient(to right, #0d174f, #3a78c0);">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" th:href="@{/}">Project Manager</a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/taskSessions}">Task Sessions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/subtasks}">Subtasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/tasks}">Tasks</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
