.first {
    color: white;
}

.paragraf {
    text-indent: 50px;
    font-family: 'Pangolin';
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 3rem;
}

.map {
    margin-left: 25%;
    width:30%;
    height:30%;
}

.first>h1{
    font-size:3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
}

.first>p{
    font-size:2vw;
}