<div class="container">
    <h1 class="title">
        {{ title }}
    </h1>

    <form [formGroup]="locationForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Id" formControlName="id"/>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" formControlName="country"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street"/>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="!data ? addLocation() : editLocation()" appHoverBtn>
        Save
    </button>
</div>